body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    margin: 0;
    padding: 0;
}

header {
    background: #23395b;
    color: white;
    text-align: center;
    padding: 40px 0;
}
.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-top: 10px;
}
section {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
}
