body {
    font-family: Arial, sans-serif;
    background: goldenrod;  
     color: #ffffff;       /* white text */
}

.container {
    width: 794px;          /* A4 width on screen */
    min-height: 1123px;
    width: 60%;
    margin: auto;
    background: black;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.profile {
    display: block;
    width: 180px;
    border-radius: 50%;
    margin: 10px auto;
}

.footer {
    text-align: center;
    font-size: 16px;
    color: blueviolet;
}
